<footer class="footer text-center bg-dark">
  <div class="container">
  <div class="social-media">
    <span class="in"><i class="fa fa-linkedin"></i></span>
    <span class="fb"><i class="fa fa-facebook-f"></i></span>
    <span class="twitter"><i class="fa fa-twitter"></i></span>
    |<span class="email"><a href="mailto:hello@lab.co.uk">hello@lab.co.uk</a></span>|
    <span class="tel"><a href="tel:0207 183 6668">0207 183 6668</a></span>
  </div>
    <div class="row">
      <div class="col text-center">
       <span class="wh"> +RAR DIGITAL AWARDS<br/>
        GRAND PRIX<br/></span>
        WINNERS 2016
      </div>
      <div class="col text-center">
       <span class="wh"> +RAR DIGITAL AWARDS<br/>
        GRAND PRIX<br/></span>
        WINNERS 2016
      </div>
      <div class="col text-center">
        <span class="wh"> +RAR DIGITAL AWARDS<br/>
        GRAND PRIX<br/></span>
        WINNERS 2016
      </div>
      <div class="col text-center">
        <span class="wh"> +RAR DIGITAL AWARDS<br/>
        GRAND PRIX<br/></span>
        WINNERS 2016
      </div>
      <div class="col text-center">
        <span class="wh"> +RAR DIGITAL AWARDS<br/>
        GRAND PRIX<br/></span>
        WINNERS 2016
      </div>
      <div class="col text-center">
        <span class="wh"> +RAR DIGITAL AWARDS<br/>
        GRAND PRIX<br/></span>
        WINNERS 2016
      </div>
    </div>
  <div class="ccopyright">
    <span>&copy; 2017 Copyright Lab Lateral. All Rights Reserved | <a class="privacylink" href="#">Privacy & Cookies Policy</a></span>
  </div>
  </div>
</footer>
