footer{
  color: #999C9F;
  padding: 15px;
}

copyright{
  font-size: 8px;
}

in{
  background-color: yellow;
  height: 50px;
  weight: 50px;
  color: black;
  border-radius: 50px;
}

.wh i.fa{
  font-size: 45px;
}
