<footer class="footer text-center bg-dark">
  <div class="container">
  <div class="social-media">
    <span class="in"><i class="fa fa-linkedin"></i></span>
    <span class="fb"><i class="fa fa-facebook-f"></i></span>
    <span class="twitter"><i class="fa fa-twitter"></i></span>
    |<span class="email"><a href="mailto:theresa@isogramconsulting.com">Email me</a></span>|
    <span class="tel"><a href="tel:+27722123869">+27722123869</a></span>
  </div>
    <div class="row">
      <div class="col text-center">
       <span class="wh"><i class="fa fa-angellist"> </i><br/>
        My Book<br/></span>
        Life in Revolutions
      </div>
      <div class="col text-center">
       <span class="wh"> <i class="fa fa-apple"></i><br/>
        For fun<br/></span>
        If not, why not
      </div>
      <div class="col text-center">
        <span class="wh"> <i class="fa fa-area-chart"></i><br/>
        GRAND PRIX<br/></span>
        It exists...
      </div>
      <div class="col text-center">
        <span class="wh"> <i class="fa fa-calculator"></i><br/>
        fontawesome<br/></span>
        ROCKS!
      </div>
      <div class="col text-center">
        <span class="wh"><i class="fa fa-gamepad"></i><br/>
        oldie<br/></span>
        image
      </div>
    </div>
  <div class="ccopyright">
    <span>&copy; 2017 Copyright Isogram Consulting. All Rights Reserved | <a class="privacylink" href="#">Privacy & Cookies Policy</a></span>
  </div>
  </div>
</footer>
