<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable by clicking hamburger.</span>
      <ul class="list-group">
        <li class="list-group-item active">First (Active)</li>
        <li class="list-group-item">Second</li>
        <li class="list-group-item">Third</li>
        <li class="list-group-item">Fourth</li>
        <li class="list-group-item">Fifth</li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark align-content-right">
    <button class="navbar-toggler align-content-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
