<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="navbar-brand">LabWorks</div>
      <ul class="list-group">
        <li id="home" class="list-group-item" [routerLink]="['active']"><a class="nav-link" [routerLink]="['home']">Our Work</a></li>
        <li id="secret-sauce" class="list-group-item"><a class="nav-link" [routerLink]="['library']">Our approach</a></li>
        <li id="contact" class="list-group-item"><a class="nav-link" [routerLink]="['contact']">Secret Sauce</a></li>
        <li id="about" class="list-group-item"><a class="nav-link">Insights</a></li>
        <li id="insights" class="list-group-item"><a class="nav-link">Careers</a></li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

